@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://css.gg/css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} 

/*removing the dark mode*/
/*removing the dark mode*/

@layer base {
  html {
    font-family: Louize, sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


@font-face {
  font-family: 'Clarika';
  font-weight: 400;
  src: local(''), url('/fonts/ClarikaGeoRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'Clarika';
  src: local(''), url('/fonts/ClarikaGeoBold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Clarika';
  src: local(''), url('/fonts/ClarikaGeoMedium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Code Saver";
  src: url("/fonts/CodeSaver-Regular.otf") format("opentype");
  /* font-weight: 500; */
  font-display: swap;
}

.gg-link {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px
 }
 
 .gg-link::after,
 .gg-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 8px;
  height: 10px;
  border: 2px solid;
  top: -4px
 }
 
 .gg-link::before {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: -6px
 }
 
 .gg-link::after {
  border-left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  right: -6px
 } 